
body {
  margin: 0 ;
  padding: 0 ;
  color: #000 ;
  font-family: 'Inter','Open Sans', sans-serif;
  background: #f5f5f5 ;
  line-height: 1.4;
}

.resume-wrapper {
  position: relative ;
  width: 960px;
  margin: 0 auto 60px ;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff ;
}


/* header */
header section:first-child {
  position: relative ;
  padding: 36px 30px 20px ;
  border-bottom: 1px solid #ededed ;
}
header h1 {
  padding: 0 30px;
  z-index: 1 ;
  font-size: 38px ;
}
header .name-container {
  padding: 0 30px;
  z-index: 1 ;
  margin: 0 ;
  font-size: 24px ;
  line-height: 30px ;
}
header .name-container small {
  font-weight: normal;
}
header .job-container {
    padding-left: 30px;
    padding-top: 8px;
    padding-right: 50px;
    margin: 0;
    color: #333;
    font-weight: normal;
    line-height: 1.25;
}
header .profile-picture {
  position: absolute ;
  right : 190px ;
  bottom: -50px ;
  z-index: 2 ;
  width: 100px ;
  height: 100px ;
  border-radius: 50% ;
}
header .profile-picture img {
  width: 100px ;
  height: 100px ;
  border-radius: 50% ;
  border: 1px solid rgba(0, 0, 0, 0.1) ;
}
header .contact-container .contact-list {
    display: flex;
    width: 100%;
    padding: 8px 0;
  padding-left: 50px;
    background: #eeeeee;
}
header .contact-container .contact-list li {
  position: relative ;
  height: 25px ;
  padding-left: 22px ;
  color: #333 ;
  font-size: 12px ;
  line-height: 25px ;
  text-align: left ;
  margin-right: 33px;
}
header .contact-container .contact-list li span {
  position: absolute ;
  top: 0 ;
  left: 0 ;
  z-index: 1 ;
  width: 25px ;
  height: 25px ;
  text-align: center ;
}


/* main */
#main {
  position: relative ;
  display: flex;
}

#main > .resume-item-wrapper {
  padding: 20px 0 40px ;
}

#main > .resume-item-wrapper.left {
  width: 60%;
  border-right: 1px solid #ededed ;
}

#main > .resume-item-wrapper.right {
  width: 40%;
}

#main .resume-item {
  position: relative ;
  padding: 0 60px ;
  margin-bottom: 20px ;
  padding-right: 24px;
}

#main > .right .resume-item {
  padding-left: 22px;
  padding-right: 40px;
}
#main .resume-item .inner {
  padding-bottom: 20px ;
}
#main .resume-item h2 {
  font-size: 24px ;
  text-align: left ;
  text-transform: capitalize ;
}
#main ul li {
  position: relative ;
  margin: 0 0 24px ;
}


/* experience */
.experience h3 {
  font-size: 16px ;
  color: #333;
}
.experience .company {
  margin: 0 0 10px ;
  color: #9b9b9b ;
  font-size: 13px ;
  font-weight: normal ;
}
.experience .date {
  position: absolute ;
  top: 5px ;
  right: 0 ;
  color: #9b9b9b ;
  font-size: 12px ;
  font-style: italic;
}
.experience .detail {
  font-size: 13px ;
}

#main .experience ul li ul {
  padding-left: 20px;
}
#main .experience li.detail {
  list-style: disc;
  margin: 0;
}


/* project */
.project ul li {
  line-height: 16px ;
}
.project h3 {
  position: relative;
  color: #3e3833;
  margin-bottom: 12px;
  font-size: 16px;
  max-width: 70%;
}
.project .detail {
  font-size: 12px ;
}
.project .detail em {
  color: #999 ;
}
.project .date {
    position: absolute;
    top: 0;
    right: 0;
    color: #9b9b9b;
    font-size: 12px;
    font-style: italic;
}


/* skill */
.skill {
  margin-bottom: 0!important ;
}
.skill ul li {
  height: 15px ;
}
.skill h3 {
  float: left ;
  width: 30% ;
  height: 100% ;
  font-size: 14px ;
  font-weight: normal ;
  line-height: 14px ;
}
.skill .skill-bar {
  float: left ;
  width: 70% ;
  height: 100% ;
  background: #f5f5f5 ;
}
.skill .skill-bar .bar {
  display: block ;
  width: 60% ;
  height: 100% ;
  background: #666 ;
}


/* footer */
footer {
  position: absolute ;
  bottom: -30px ;
  left: 0 ;
  width: 100% ;
  padding: 0 30px ;
  font-size: 12px ;
  text-align: left ;
  color: #bbb ;
}
footer a {
  font-weight: bold ;
}
